---

---

<footer class="bg-white dark:bg-gray-800">
    <div class="border-t border-gray-200 dark:border-gray-700"></div>
    
    <div class="w-full mx-auto max-w-screen-xl py-3 px-4 md:flex md:items-center md:justify-between text-center">
        <span class="text-sm text-gray-800 sm:text-center dark:text-gray-200">
            <strong>Copyright © 2025</strong>
            <a href="/" class="hover:text-blue-600 dark:hover:text-blue-400 font-bold text-gray-900 dark:text-white transition-colors duration-300">Capibara Shop</a> | Creado por 
            <a href="https://innovadev.site" target="_blank" class="hover:text-blue-600 dark:hover:text-blue-400 font-bold text-gray-900 dark:text-white transition-colors duration-300">InnovaDev</a>
        </span>

        <div class="flex mt-2 md:mt-0 space-x-4 justify-center">
            <a href="#" class="text-gray-600 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white transition-colors duration-300">
                <i class="fa-brands fa-facebook-f w-5 h-5"></i>
            </a>
            <a href="#" class="text-gray-600 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white transition-colors duration-300">
                <i class="fa-brands fa-instagram w-5 h-5"></i>
            </a>
            <a href="#" class="text-gray-600 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white transition-colors duration-300">
                <i class="fa-brands fa-tiktok w-5 h-5"></i>
            </a>
        </div>
    </div>
</footer>
